#!/bin/sh
/opt/gitlab/embedded/bin/git push --prune git@gitlab.com:{{ gitlabcom_username }}/{{ ((item.namespace.full_path | replace('/','-')) + '-') if item.namespace.full_path != username else '' }}{{ item.name }}.git +refs/heads/*:refs/heads/* +refs/tags/*:refs/tags/*
{% if item.visibility is defined and item.visibility == 'public' %}
/opt/gitlab/embedded/bin/git push --prune git@github.com:{{ githubcom_username }}/{{ ((item.namespace.full_path | replace('/','-')) + '-') if item.namespace.full_path != username else '' }}{{ item.name }}.git +refs/heads/*:refs/heads/* +refs/tags/*:refs/tags/*
{% endif %}
