git push --prune git@gitlab.com:{{ gitlabcom_user }}/{{ item.name }}.git +refs/remotes/origin/*:refs/heads/* +refs/tags/*:refs/tags/*
{% if item.visibility is not defined or item.visibility == 'public' %}
git push --prune git@github.com:{{ githubcom_user }}/{{ item.name }}.git +refs/remotes/origin/*:refs/heads/* +refs/tags/*:refs/tags/*
{% endif %}
